---
layout: page
title: -- SI-6 SECURITY AND PRIVACY FUNCTION VERIFICATION 
parent: . 3.19 SYSTEM AND INFORMATION INTEGRITY 
nav_order: 31960 
---

## SI-6 SECURITY AND PRIVACY FUNCTION VERIFICATION

<ins>Control</ins>:
* a. Verify the correct operation of [ _Assignment: organization-defined security and privacy functions_ ];
* b. Perform the verification of the functions specified in SI-6a [ _Selection (one or more): [ Assignment: organization-defined system transitional states ] ; upon command by user with appropriate privilege; [ Assignment: organization-defined frequency ]_];
* c. Alert [ _Assignment: organization-defined personnel or roles_ ] to failed security and privacy verification tests; and
* d. [ _Selection (one or more): Shut the system down; Restart the system; [ Assignment: organization-defined alternative action(s) ]_] when anomalies are discovered.
   
<ins>Discussion</ins>: Transitional states for systems include system startup, restart, shutdown, and abort. System notifications include hardware indicator lights, electronic alerts to system administrators, and messages to local computer consoles. In contrast to security function verification, privacy function verification ensures that privacy functions operate as expected and are approved by the senior agency official for privacy or that privacy attributes are applied or used as expected.

<ins>Related Controls</ins>: CA-7 , CM-4 , CM-6 , SI-7.

<ins>Control Enhancements</ins>:
   
* (1) SECURITY AND PRIVACY FUNCTION VERIFICATION / NOTIFICATION OF FAILED SECURITY TESTS<br>
[Withdrawn: Incorporated into SI-6 .]
   
* (2) SECURITY AND PRIVACY FUNCTION VERIFICATION / AUTOMATION SUPPORT FOR DISTRIBUTED TESTING<br>
**Implement automated mechanisms to support the management of distributed security and privacy function testing.**

    <ins>Discussion</ins>: The use of automated mechanisms to support the management of distributed function testing helps to ensure the integrity, timeliness, completeness, and efficacy of such testing.
   
    <ins>Related Controls</ins>: SI-2.

* (3) SECURITY AND PRIVACY FUNCTION VERIFICATION / REPORT VERIFICATION RESULTS<br>
**Report the results of security and privacy function verification to [ _Assignment: organization-defined personnel or roles_ ].**

    <ins>Discussion</ins>: Organizational personnel with potential interest in the results of the verification of security and privacy functions include systems security officers, senior agency information security officers, and senior agency officials for privacy.

    <ins>Related Controls</ins>: SI-4 , SR-4 , SR-5.

<ins>References</ins>: [OMB A-130 ].
